body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    background: url('../images/doctor-consulting-patient-in-clinic-PAG5R3.jpg') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.index-container {
    text-align: center;
    padding: 50px;
    background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.index-container h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    animation: fadeInDown 1s ease-out;
}

.index-container button {
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    animation: fadeInUp 1s ease-out;
}

.index-container button:hover {
    background-color: #c70039;
    transform: scale(1.05);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.login-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #4cae4c;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-title {
    animation: slideIn 1s ease-out;
}

.dashboard-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.dashboard-container h1 {
    margin-bottom: 30px;
}

.menu a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #0056b3;
}
